.service-card {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.service-card h2 {
  color: #333;
}

.service-card p {
  color: #666;
}

.service-card a {
  color: #b31b1b;
  text-decoration: none;
}
