{% extends 'index.html' %}
{% block title %} About {% endblock %}
{% block main %}
<section id="main">
  <div class="container">
    <article id="main-col">
      <h1 class="page-title">About Us</h1>
      <p>
            Learn more about our mission and the team of professionals behind HealthConnectZim.
      </p>
      <p class="dark">
        Join the HealthConnectZim Community
Take the first step towards better health. Download HealthConnectZim today and join our growing community of individuals who are prioritizing their health and well-being
      </p>
    </article>
    <aside id="sidebar">
      <div class="dark">
        <h3>What We Do</h3>
         <p>HealthConnectZim revolutionizes healthcare access in Zimbabwe by providing convenient online consultations with nurses, doctors, and therapists directly from your smartphone</p>
        </div>
    </aside>
  </div>
</section>
{% endblock main %}