{% extends 'index.html' %}
{% block title %} Services {% endblock %}
{% block main %}
<section id="main">
  <div class="container">
    <article id="main-col">
      <h1 class="page-title">Services</h1>
      <ul id="services">
        <li>
          <h3>General Health</h3>
          <p>Receive treatment for everyday ailments and chronic conditions</p>
         </li>
         <li>
           <h3>Mental Health</h3>
           <p>Access support and counseling services for your well-being</p>
         </li>
         <li>
           <h3>Express Consultations</h3>
           <p>Get quick help for common health concerns</p>
         </li>
      </ul>
    </article>
    
    <p>At HealthConnectZim, we are committed to making quality healthcare accessible to all Zimbabweans. Our team of experienced professionals is dedicated to providing you with the care and support you need, whenever and wherever you need it</p>
    
    <p>Download HealthConnectZim today and experience the future of healthcare in Zimbabwe</p>

    <aside id="sidebar">
      <div class="dark">
        <h3>Obtain a price quote</h3>
        <form class="quote">
          <div>
  	          <label>Name</label><br>
  		         <input type="text" placeholder="Name">
  	        </div>
  	        <div>
  	          <label>Email</label><br>
  	          <input type="email" placeholder="Email Address">
  	        </div>
  						  <div>
  							   <label>Message</label><br>
  							   <textarea placeholder="Message"></textarea>
  						  </div>
  						  
  						  <button class="button_1" type="submit">Send</button>
					  </form>
      </div>
    </aside>
  </div>
</section>
{% endblock main %}
